{% extends 'core/base_module.html' %}

{% block extra_css %}{% endblock %}

{% block module_nav %}
<a class="nav-link ms-3" href="{% url 'opportunities:sales_velocity_dashboard' %}">Sales Velocity</a>
<a class="nav-link ms-3" href="{% url 'opportunities:opportunity_list' %}">List</a>
<a class="nav-link ms-3" href="{% url 'opportunities:pipeline_kanban' %}">Pipeline</a>
<a class="nav-link ms-3" href="{% url 'opportunities:revenue_forecast' %}">Forecast</a>
<a class="nav-link ms-3" href="{% url 'opportunities:assignment_rule_list' %}">Assignment Rules</a>
<a class="nav-link ms-3" href="{% url 'opportunities:stage_list' %}">Stages</a>
<a class="nav-link ms-3" href="{% url 'opportunities:type_list' %}">Pipeline Types</a>
{% endblock %}