{% extends "logged_in/base.html" %}
{% load crispy_forms_tags %}

{% block dashboard_content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">New Work Order</h6>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Create Order</button>
                <a href="{% url 'manufacturing:dashboard' %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}