{% extends 'core/base_module.html' %}

{% block extra_css %}{% endblock %}

{% block module_nav %}
<a class="nav-link ms-3" href="{% url 'sales:sales_dashboard' %}">Sales Dashboard</a>
<a class="nav-link ms-3" href="{% url 'sales:sale_list' %}">Sales List</a>
<a class="nav-link ms-3" href="{% url 'sales:sale_create' %}">Record Sale</a>
<a class="nav-link ms-3" href="{% url 'sales:commission_dashboard' %}">Commissions</a>
<a class="nav-link ms-3" href="{% url 'sales:territory_performance_dashboard' %}">Territory Performance</a>
{% endblock %}