<a class="nav-link ms-3" href="{% url 'leads:lead_analytics' %}">Analytics</a>
<a class="nav-link ms-3" href="{% url 'leads:lead_pipeline' %}">Pipeline</a>
<a class="nav-link ms-3" href="{% url 'leads:lead_list' %}">List</a>
<a class="nav-link ms-3" href="{% url 'leads:lead_create' %}">Create</a>
<a class="nav-link ms-3" href="{% url 'leads:web_to_lead_builder' %}">Web To Lead Builder</a>
<a class="nav-link ms-3" href="{% url 'leads:web_to_lead_list' %}">Web To Lead List</a>
<a class="nav-link ms-3" href="{% url 'leads:cac_analytics' %}">CAC Analytics</a>